* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color__primaryText: #383838;
  --color__fadedText: #888;
  --color__background: #f7e5cc;

  --color__background--content: #fff;

  --color__border: #69766f;

  --color__separator--1: #9ed6cb;
  --color__separator--2: #bf5c32;
  --color__separator--3: #efad57;

  --color__textHover: var(--color__separator--2);
  --color__button: var(--color__separator--3);
  --color__buttonHover: var(--color__separator--2);

  --size__maxWidth: 900px;
  --size__width: 80%;
}

body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color__primaryText);

  background-color: var(--color__background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

html,
body,
.content,
main {
  height: 100%;
}
main {
  display: flex;
}

.contentBox {
  --radius: 3.5rem;
  --padding: 1.25rem;

  border-radius: var(--radius);
  padding: var(--padding);
  background: var(--color__border);
}
.contentBox__inner {
  border-radius: calc(var(--radius) - var(--padding));
  overflow: hidden;
  display: flex;
  background: var(--color__background--content);
}
